@model Bloggie.Web.Models.ViewModels.EditTagRequest

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-header bg-warning text-dark">
                    <h2 class="mb-0">Edit Tag</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" asp-for="Name" required />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" class="form-control" asp-for="DisplayName" required />
                            <span class="text-danger" asp-validation-for="DisplayName"></span>
                        </div>
                        <button type="submit" class="btn btn-warning w-100">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>